<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drummer for Hire</title>
  </head>
  <body>
    <h1>Current Reservations for <%= drummerName %></h1>
    <% reservations.forEach((reservation) => { %>
    <p>Reservation ID: <%= reservation.id %></p>
    <p>Reservation Name: <%= reservation.name %></p>
    <p>Reserved On: <%= reservation.createdAt %></p>
    <% }); %>

    <h3>Reserve <%=drummerName%> now!</h3>
    <form action="/reservations/<%= drummerId %>" method="POST">
      <label for="name">Reservation Name</label><br />
      <input type="text" id="name" name="reservation_name" required /><br />
      <input type="submit" id="submit" value="Reserve!" />
    </form>

    <p>
      <a href="/">Back to Main</a>
    </p>
  </body>
</html>
